<!--/*
    Copyright (c) 2012-present Marvelution Holding B.V.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<!--/*@thymesVar id="build" type="org.marvelution.jji.data.helper.PanelBuild"*/-->
<div class="issue-data-block jenkins-build" th:id="|jenkins-build-${build.id}|" xmlns:th="http://www.thymeleaf.org">
	<div class="summary">
		<div class="header $build.buildColor">
			<span class="aui-icon aui-icon-small" th:classappend="|${build.getBuildIcon()} ${build.getBuildColor()}|"></span>
			<span th:text="${build.displayName}" th:if="${build.isDeleted()}">deleted #1</span>
			<span th:unless="${build.isDeleted()}">
				<a target="_blank" th:href="${build.displayUrl}" th:text="${build.displayName}">job #1</a>
			</span>
		</div>
		<div class="related-issues">
			<th:block th:if="${projectKeys} != null">
				Related Projects:
				<ul>
					<li th:each="projectKey : ${projectKeys}" th:with="jql=|project = ${projectKey} AND issue in issuesRelatedToBuild(${build.id})|">
						<a th:href="@{{baseUrl}/issues/?jql={jql}(baseUrl=${#urls.baseUrl()},jql=${jql})}" th:text="${projectKey}"></a></li>
				</ul>
			</th:block>
			<th:block th:if="${projectKeys} == null">
				Related Issues:
				<ul>
					<li th:each="issue : ${build.issueReferences}">
						<a th:href="@{${issue.issueUrl}}" th:text="${issue.issueKey}"></a>
					</li>
				</ul>
			</th:block>
		</div>
	</div>
	<div class="details">
		<span th:text="${build.cause}"></span><br/>
		<span>Ran</span>
		<span th:text="${#times.format(build.date)}"></span>
		<span>| Duration</span> <span th:text="${build.formattedDuration}" th:remove="tag">
		<th:block th:if="${build.testResults} != null">
			<br/><span th:text="${build.testResults.total}" th:remove="tag"></span> <span>Total Tests |</span>
			<span th:text="${build.testResults.failed}" th:remove="tag"></span> <span>Failed Tests |</span>
			<span th:text="${build.testResults.skipped}" th:remove="tag"></span> <span>Skipped Tests</span>
		</th:block>
	</div>
</div>
