<!--/*
    Copyright (c) 2012-present Marvelution Holding B.V.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:jji="http://www.thymeleaf.org">
<div th:fragment="content(title, action, body, submitText)" class="jira-dialog-content">
	<div class="dialog-title hidden" th:text="${title}"></div>
	<form th:action="${action}" th:attr="method=${method} ? ${method} : ''" class="aui">
		<div class="form-body">
			<h2 class="dialog-title" th:text="${title}"></h2>
			<th:block th:replace="${body}"/>
		</div>
		<div class="buttons-container form-footer">
			<div class="buttons">
				<input th:if="${submitText}" accesskey="s" class="aui-button aui-button-primary" type="submit"
				       th:value="${submitText}"/>
				<a accesskey="`" href="#" class="aui-button aui-button-link cancel" th:text="#{close}"></a>
				<th:block jji:if="${buttons}" th:replace="${buttons}"/>
			</div>
		</div>
	</form>
</div>
</html>
